# Tweets about the top companies 
# Dor Azulay & Netanel Kluzner 
-------------------------------------------

In [ ]:
!pip install yfinance
!pip install TwitterAPI
!pip install timedelta

In [ ]:
 # imports & initialisations
import csv
import math
import pandas as pd
import numpy as np
import datetime
import timedelta
import time
import io
import plotly.graph_objects as go
from dateutil import parser
from sklearn import linear_model
from textblob import TextBlob # sentiment score
from sklearn.model_selection import train_test_split
pd.set_option('display.max_colwidth', None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
users_path = '/content/drive/MyDrive/Alon/לימודים/Final Project/Data/Self Collected/users_with_eng_v5(with_replies).csv'

tweets_path = "/content/drive/MyDrive/Alon/לימודים/Final Project/Data/From the Web/TweetsAboutTopCompanies/Tweet.csv/Tweet.csv"
tweets_2019_path = "/content/drive/MyDrive/Alon/לימודים/Final Project/Data/From the Web/TweetsAboutTopCompanies/tweets_2019.csv"
filteredTweetsWithFlair_path = "/content/drive/MyDrive/Alon/לימודים/Final Project/Data/From the Web/TweetsAboutTopCompanies/tweets_2019_flairSentiment.csv"

In [ ]:
# auths
def connectToTwitterAPI1():
  import tweepy # tweeter API
  from datetime import datetime, timedelta

  consumer_key = 'mymakG2knztQ2GYaTNaRGTIOi'
  consumer_secret = 'lGXmXu9K7DQftUjvVempNg1vGjS362zbKo7p12yaa5RrBelIlj'
  access_token = '561299890-kjoCtIBYvSHeIVfhYEbHfNXHAqVklnMze2Wce1JT'
  access_token_secret = 'U1fR9nx24H1Eo3dvlLYO9LhDxwYWWZ5x2JEltgA4xUy6o'

  auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
  auth.set_access_token(access_token, access_token_secret)

  return tweepy.API(auth)

def connectToTwitterAPI2():
  from TwitterAPI import TwitterAPI, TwitterOAuth, TwitterRequestError, TwitterConnectionError, TwitterPager
  consumer_key = 'mymakG2knztQ2GYaTNaRGTIOi'
  consumer_secret = 'lGXmXu9K7DQftUjvVempNg1vGjS362zbKo7p12yaa5RrBelIlj'
  access_token = '561299890-kjoCtIBYvSHeIVfhYEbHfNXHAqVklnMze2Wce1JT'
  access_token_secret = 'U1fR9nx24H1Eo3dvlLYO9LhDxwYWWZ5x2JEltgA4xUy6o'
  return TwitterAPI (consumer_key, consumer_secret, access_token,
  access_token_secret, api_version='2')

In [ ]:
# get the currect dataframes from drive in "paths" section
users_df = pd.read_csv(users_path)
tweets_2019 = pd.read_csv(tweets_2019_path)
users_df

                      name   screen_name  ...  eng_tweets_length  eng_score
0        PowerTriggerTrade  Sandro_power  ...              100.0        0.0
1     Michaël van de Poppe  CryptoMichNL  ...              100.0        0.0
2             Johns Charts   johnscharts  ...                0.0        0.0
3               mcm-ct.com        mcm_ct  ...               74.0        0.0
4                ◇.A.C.X.◇     ACXtrades  ...              100.0        0.0
...                    ...           ...  ...                ...        ...
2447            David Holt   IDrawCharts  ...              100.0        0.0
2448              Ian Dyer   IanDyerGuru  ...              100.0        0.0
2449              @coach23   coach23life  ...              100.0        0.0
2450         Elon Promises  ElonPromises  ...              100.0        0.0
2451        Frank Zorrilla     ZorTrades  ...              100.0        0.0

[2452 rows x 17 columns]

In [ ]:
def getEngScore(users_df, include_replies=True, include_followers=True):
  df = users_df
  for i in range(len(df)):
    rts = df['eng_total_retweets'][i]
    likes = df['eng_total_likes'][i]
    replies = df['eng_total_replies'][i]
    total_tweets = df['eng_tweets_length'][i]
    followers = df['followers_count'][i]
    if include_followers:
      df['eng_score'][i] = ((rts+likes+replies)/total_tweets)/followers if include_replies else ((rts+likes)/total_tweets)/followers
    else:
      df['eng_score'][i] = ((rts+likes+replies)/total_tweets) if include_replies else ((rts+likes)/total_tweets)
  return df


users_df=getEngScore(users_df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: RuntimeWarning:

invalid value encountered in double_scalars

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: RuntimeWarning:

divide by zero encountered in double_scalars

In [ ]:
users_df = pd.read_csv(users_path)

In [ ]:
amateur_threshold = 2000
amateur_df = users_df[users_df['followers_count']<=amateur_threshold]
users_df = users_df[users_df['followers_count']>amateur_threshold].reset_index(drop=True)
influencers_df = users_df[users_df['verified'] == True]
influencers_df = influencers_df.reset_index(drop=True)
stocks_keywords =['stock', 'exchange', 'market', 'ceo', 'manag', 'invest', 'crypto', 'trad', 'founder', 'author', 'reporter', 'analysis', 'analyst', 'research', 'infla', 'bond', 'earnings', 'dividend', 'econom', 'financ']

influencers_df['stocks_related'] = [0 for i in range(len(influencers_df))]

for i in range(len(influencers_df)):
  desc = influencers_df['description'][i].lower()
  for word in stocks_keywords:
    if word in desc:
      influencers_df['stocks_related'][i] = 1

influencers_df = influencers_df.reset_index(drop=True)


stocks_related_df = influencers_df[influencers_df['stocks_related'] == 1]
influencers_df = influencers_df[influencers_df['stocks_related'] == 0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(len(amateur_df), len(influencers_df), len(stocks_related_df))

1008 153 229

In [ ]:

#!pip install nltk
import nltk
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer


nltk.download('stopwords')
stopwords_lst = stopwords.words('english')
", ".join(stopwords_lst)

# unified_str = ''
# for desc in influencers_df['description']:
#   unified_str += desc


#remove the stopwords from the texts
#remove the stopwords from the texts
def clean_stopwords(text):
  return " ".join([word for word in str(text).split() if word not in stopwords_lst])

influencers_df['description'] =   influencers_df['description'].apply(lambda text : clean_stopwords(text))

punctuations = string.punctuation


#removing punctuations
punctuations = string.punctuation
def clean_punctuation(text):
  translator = str.maketrans('', '' ,punctuations)
  return text.translate(translator)
influencers_df['description']= influencers_df['description'].apply(lambda x: clean_punctuation(x))


#cleaning repeating characters
def remove_repeats(text):
  return  re.sub(r'(.)\1+', r'\1', text)
influencers_df['description']= influencers_df['description'].apply(lambda x: remove_repeats(x))

#clean email data
def clean_email(data):
  return re.sub('@[^\s]+', ' ', data)
influencers_df['description']= influencers_df['description'].apply(lambda x: clean_email(x))


#clean urls
def clean_urls(data):
  return re.sub('((www\.[^\s]+) | (https?://[^\s]))', ' ', data)
influencers_df['description']= influencers_df['description'].apply(lambda x: clean_urls(x))

#clean numeric numbers
def clean_numbers(data):
  return re.sub('[0-9]+', ' ', data)
influencers_df['description']= influencers_df['description'].apply(lambda x: clean_numbers(x))

#get tokenization of tweet text
tokenizer = RegexpTokenizer(r'\w+')
influencers_df['description']= influencers_df['description'].apply(tokenizer.tokenize)


#apply stemming and lemmatizer
#stemming
import nltk
st = nltk.PorterStemmer()
def stemming(data):
  text = [st.stem(word) for word in data]
  return data
influencers_df['description'] = influencers_df['description'].apply(lambda x: stemming(x))

#lemmatizer
lm = nltk.WordNetLemmatizer()
nltk.download('wordnet')

def lemmatizer(data):
  text = [lm.lemmatize(word) for word in data]
  return data
influencers_df['description'] = influencers_df['description'].apply(lambda x: lemmatizer(x))


influencers_df

In [ ]:
words_dict ={}
for words in influencers_df['description']:
  for word in words:
    words_dict[word] =0

for words in influencers_df['description']:
  for word in words:
    words_dict[word] += 1

sort_by_value = dict(sorted(words_dict.items(), key=lambda item: item[1], reverse=True))

sort_by_value

In [ ]:
influencers_df

In [ ]:
stocks_keywords =['stock', 'exchange', 'market', 'ceo', 'manag', 'invest', 'crypto', 'trad', 'founder', 'author', 'reporter', 'analysis', 'analyst', 'research', 'infla', 'bond', 'earnings', 'dividend', 'econom', 'financ']

influencers_df['stocks_related'] = [0 for i in range(len(influencers_df))]

for i in range(len(influencers_df)):
  desc = influencers_df['description'][i].lower()
  for word in stocks_keywords:
    if word in desc:
      influencers_df['stocks_related'][i] = 1

influencers_df = influencers_df.reset_index(drop=True)


stocks_related_df = influencers_df[influencers_df['stocks_related'] == 1]
influencers_df = influencers_df[influencers_df['stocks_related'] == 0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
print(len(amateur_df), len(influencers_df), len(stocks_related_df))
influenceres_df
stocks_related_df

109 153 229

                            name      screen_name  ...  eng_score  stocks_related
1                     Stocktwits       Stocktwits  ...        0.0               1
2                   Scott Wapner  ScottWapnerCNBC  ...        0.0               1
4              Abigail Doolittle     TheChartress  ...        0.0               1
5                  HowardLindzon    howardlindzon  ...        0.0               1
6              CNBC's Fast Money    CNBCFastMoney  ...        0.0               1
..                           ...              ...  ...        ...             ...
372               WallStreetBΞts   wallstreetbets  ...        0.0               1
375                Kenny Polcari     KennyPolcari  ...        0.0               1
376  Kevin Fox is hopeful 🦊💉🩹 ❤️            kfury  ...        0.0               1
377                  S3 Partners       S3Partners  ...        0.0               1
379           Artem Russakovskii           ArtemR  ...        0.0               1

[229 rows x 18 columns]

In [ ]:
def saveToCSV(df, file_name):
  #export to csv
  compression_opts = dict(method='zip',
                          archive_name=file_name + '.csv')
  df.to_csv(file_name + '.zip', index=False,
            compression=compression_opts)

saveToCSV(influencers_df, 'influencers')
saveToCSV(amateur_df,'amatuers')
saveToCSV(stocks_related_df,'stock_related')